.single {
  display: flex;
  flex-wrap: wrap;

  .info {
    flex: 1;
    .userInfo {
      display: flex;
      align-items: center;
      gap: 20px;
      margin-bottom: 30px;

      button {
        background: tomato;
        border: none;
        padding: 10px 20px;
        color: #fff;
        border-radius: 10px;
        font-weight: bold;
        cursor: pointer;
      }

      img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 50%;
      }
    }

    .textInfo {
      p {
        font-size: 20px;
        margin-bottom: 20px;
      }
    }

    hr {
      border: 1px solid rgba(231, 229, 229, 0.514);
      margin: 20px 0;
      width: 90%;
    }

    .userChart {
      width: 90%;
      height: 400px;
    }
  }

  .activities {
    flex: 1;
    ul {
      li {
        list-style-type: none;
        position: relative;
        width: 1px;
        padding-top: 50px;
        background-color: #f45b69;

        &::after {
          content: "";
          position: absolute;
          left: 50%;
          bottom: 0;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: #f45b69;
          transform: translateX(-50%);
        }

        div {
          min-width: 480px;
          // min-width: 100%;
          padding: 15px;
          background-color: #f45b6810;

          // @include md{
          //   min-width: 250px;
          // }

          p {
            margin-bottom: 5px;
          }

          time {
            font-size: 12px;
          }
        }
      }
    }
  }
}
